body > header {
    background-color: dodgerblue;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    background-color: dodgerblue;
    float: right;
    font-family: "Fredoka One", sans-serif;
    padding: 10px;
    font-size: 18px;
}

header > nav > ul {
    list-style-type: none;
}

header > nav > ul > li{
    display: inline-block;
    font-size: 10px;
    padding: 5px;
}

header > nav > ul > li a {
    color: white;
    font-size: 10px;
}


body > footer {
    background-color: dodgerblue;
}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

body > main {
    background-color: white;
    margin: auto;
    width: 70%;
}

body > main > article {
    margin: auto;
}