body {
    margin: 0;
}

header {
    background-color: dodgerblue;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px, 25px, 25px, 25px;
}

#logo {
    background-color: dodgerblue;
    float: right;
    font-family: "Fredoka One", sans-serif;
    padding: 15px;
    font-size: 17px;
}

header > nav > ul {
    list-style-type: none;
}

header > nav > ul > li{
    display: inline-block;
    font-size: 10px;
    padding: 6px;
}

header > nav > ul > li a {
    color: white;
    font-size: 11px;
}

footer {
    background-color: dodgerblue;
    font-family: "Fredoka One", sans-serif;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
}

footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

body > main {
    background-color: white;
    margin: auto;
    width: 70%;
}

body > main > article {
    margin: auto;
}

body > section {
    padding: 25px, 25px, 25px, 25px;
    float: left;
    
}

#login-email-password {
    float: left;
    width: 30%;
    padding-bottom: 150px;
}

#latest-section {
    padding-top: 2px;
    justify-content: space-between;
}

#latest-section > img {
    float: left;
    padding-top: 2px;
    padding-right: 10px;
    justify-content: space-between;
    
}

#main-article {
    clear: both;
}

#comments-submit-button {
    float: right;
}

#comments-section {

}