body {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

header {
    background-color: dodgerblue;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px, 25px, 25px, 25px;
}

#logo {
    background-color: dodgerblue;
    float: right;
    padding: 15px;
    font-size: 22px;
}

header > nav > ul {
    list-style-type: none;
}

header > nav > ul > li{
    display: inline-block;
    font-size: 10px;
    padding: 6px;
}

header > nav > ul > li a {
    color: white;
    font-size: 11px;
}

footer {
    background-color: dodgerblue;
    font-size: 9px;
    justify-content: space-between;
    align-items: center;
}

footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

body > main {
    background-color: white;
    margin: auto;
    width: 70%;
}

body > main > article {
    margin: auto;
}

body > section {
    padding: 25px, 25px, 25px, 25px;
    float: left;
}

#login-email-password {
    float: left;
    width: 30%;
    padding-bottom: 150px;
}

#login-email-password > nav > ul > li a {
    color: mediumblue;
}

#latest-section {
    padding-top: 2px;
    overflow: hidden;
}

#latest-section > div {
    overflow: hidden;
    display: inline-block;
}

#latest-section > div > h4 {
    margin-left: 15px;
}

#latest-section > div > p {
    margin-left: 15px;
    display: block;
}

#latest-section > div > img {
    float: left;
    margin-right: 15px;
    padding-top: 5px;
    padding-right: 5px;
}

#main-article {
    clear: both;
    padding-top: 8px;
}

#comments-submit-button {
    float: right;
}

#comments-section {
 padding-top: 8px;
}